#myCarousel {
    margin-top: 56px;
}

#myCarousel, .carousel-item {
    min-height: calc(100vh - 56px) !important;    
}

.carousel-item > img {
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: cover;
}

.text-shadow {
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

/* Letter spacing - start */
.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 3px; }
.ls-4 { letter-spacing: 4px; }
.ls-5 { letter-spacing: 5px; }
/* Letter spacing - end */

/* ---------------------- Short divs - start ---------------------- */

/* Short divs color - start */
.sd-color-first {
    color: #bcb5b1;
}
/* Short divs color - end */

/* ---------------------- Short divs - end ---------------------- */

/* Background colors - start */
.bg-darker-dark {
    background-color: rgb(33, 34, 38);
}
/* Background colors - end */
