/* ----------- general settings - start ----------- */
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#about-us-container,
#chefs-container,
#menu-container,
#myCarousel1 {
    scroll-margin-top: 56px;
}

.text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

img {
    pointer-events: none;
}

/* Letter spacing - start */
.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

/* Letter spacing - end */

/* Background colors - start */
.bg-header {
    background-color: #2e2f33;
}

.bg-darker-dark {
    background-color: rgb(33, 34, 38);
}

.bg-chefs {
    background-color: rgb(48, 50, 55);
}

.bg-footer {
    background-color: #19191b;
}

/* Background colors - end */

/* Short divs - colors */
.sd-color-first {
    color: #ece5e1;
}

.sd-color-second {
    color: #bcb5b1;
}

.sd-color-third {
    color: #77726c;
}

/* Short divs - end */

.fade-up {
  opacity: 0;
  transform: translateY(24px); /* hafif aşağıdan */
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* ----------- general settings - End ----------- */





/* ----------- Carousels - Start ----------- */
#myCarousel1, .info-hero-container {
    margin-top: 56px;
}

#myCarousel1,
.carousel-item {
    height: calc(100vh - 56px);
}

.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------- Carousels - End ----------- */





/* ----------- About us - Start ----------- */
.about-row>div:not(:first-child) {
    height: 50vh;
}

.about-row img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* ----------- About us - End ----------- */




/* ----------- Info - Start ----------- */
#info-container {
    background-color: #821427;
}

/* ----------- Info - End ----------- */





/* ----------- Contact Us - Start ----------- */
.info-hero-container {

    height: 30vh;
}

.info-hero-container img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


input {
    text-align: center;
    background-color: white;
}
#name, #surname {
    max-width: 160px;
}

#email, #phone, #message {
    max-width: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
-webkit-box-shadow: 0 0 0 1000px #212529 inset !important;
-webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* ----------- Contact Us - End ----------- */





/* ----------- Footer - Start ----------- */
.portfolio-link {
    transition: 0.4s;
}

.portfolio-link:hover {
    opacity: 0.7;
}

/* ----------- Footer - Start ----------- */





@media (max-width: 767.98px) {
    .about-row>div:not(:first-child) {
        height: auto;
    }

    .about-row img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

@media (max-width: 1199.98px) {

    #myCarousel2,
    #myCarousel2 .carousel-item {
        height: 50vh;
    }

    .rest-prom-row>div:nth-child(3) {
        height: calc(50vh - 56px);
    }
}