/* ----------- general settings - start ----------- */
.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#about-us-container,
#chefs-container,
#menu-container,
#myCarousel1,
#breakfast,
#hot-drinks,
#desserts,
#main-course {
    scroll-margin-top: 56px;
}

#myCarousel1,
.info-hero-container,
#menupage-menu-container {
    margin-top: 56px;
}

.text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

img {
    pointer-events: none;
}

.btn-primary {
    background-color: #090084;
    border-color: #090084;
}

.btn-primary:hover {
    background-color: #0b009f;
    border-color: #0b009f;
}

.btn-info {
    background-color: #006e84;
    border-color: #006e84;
}

.btn-info:hover {
    background-color: #00819b;
    border-color: #00819b;
}

/* Letter spacing - start */
.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

/* Letter spacing - end */

/* Background colors - start */
.bg-header {
    background-color: #2e2f33;
}

.bg-darker-dark {
    background-color: rgb(33, 34, 38);
}

.bg-chefs {
    background-color: rgb(48, 50, 55);
}

.bg-footer {
    background-color: #19191b;
}

#info-container {
    background-color: rgb(103, 0, 17);
}

/* Background colors - end */

/* Short divs - colors */
.sd-color-first {
    color: #ece5e1;
}

.sd-color-second {
    color: #bcb5b1;
}

.sd-color-third {
    color: #77726c;
}

/* Short divs - end */

.fade-up {
    opacity: 0;
    transform: translateY(24px);
    /* hafif aşağıdan */
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: opacity, transform;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

/* ----------- general settings - End ----------- */





/* ----------- Main Page - Start ----------- */

#myCarousel1,
.carousel-item {
    height: calc(100vh - 56px);
}

.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-row>div:not(:first-child) {
    height: 50vh;
}

.about-row img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* ----------- Main Page - End ----------- */





/* ----------- Contact Us - Start ----------- */
.info-hero-container {
    height: 30vh;
}

.info-hero-container img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


input {
    text-align: center;
    background-color: white;
}

#name,
#surname {
    max-width: 160px;
}

#email,
#phone,
#message {
    max-width: 300px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #212529 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* ----------- Contact Us - End ----------- */





/* ----------- Menu - Start ----------- */
#menupage-menu-container {
    height: 30vh;
}

#menupage-menu-container img {
    position: absolute;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.menu-sidebar {
    position: sticky;
    top: 56px;
}

.menu-categories .nav-link {
    color: #212529;
    border-left: 3px solid transparent;
    transition: all 0.25s ease;
}

.menu-categories .nav-link:hover {
    color: #000;
}

.menu-categories .nav-link.active {
    background: linear-gradient(to right,
            #f8f9fa 0%,
            #ffffff 100%);
    border-left-color: #d40000;
    font-weight: 700 !important;
    color: #222;
}

#hot-drinks>div:nth-of-type(even),
#breakfast>div:nth-of-type(even),
#main-course>div:nth-of-type(even),
#desserts>div:nth-of-type(even) {
    background-color: rgb(250, 250, 250);
}

.menu-items img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

/* ----------- Menu - End ----------- */

/* ----------- Reservation - Start ----------- */
.book-form {
    max-width: 500px;
    margin: auto;
}

.flatpickr-calendar {
    border: 1px solid rgba(0, 0, 0, 0.196) !important;
    box-shadow: none !important;
    margin: 0 auto 1rem;
}

.cur-month {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    pointer-events: none;
}

.flatpickr-weekdays {
    font-size: 0.70rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.flatpickr-day {
    border-radius: 0 !important;
    height: 48px !important;
    line-height: 48px !important;
    max-width: 48px !important;
    font-size: 1rem !important;
    transition: background 0.2s ease !important;
}

.arrowUp, .arrowDown {
    display: none !important;
}

.numInputWrapper:hover, .cur-month {
    pointer-events: none;
    background-color: transparent  !important;
}

.flatpickr-day:hover {
    background: #f1f1f1;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
    border: 1px solid #000 !important;
    background: #000 !important;
    color: #fff !important;
}

.flatpickr-day.today {
    border: 1px solid #000;
}

.flatpickr-day.disabled {
    color: #ccc;
}



/* ----------- Reservation - End ----------- */




/* ----------- Footer - Start ----------- */
.portfolio-link {
    transition: 0.4s;
}

.portfolio-link:hover {
    opacity: 0.7;
}

/* ----------- Footer - Start ----------- */





@media (max-width: 767.98px) {
    .about-row>div:not(:first-child) {
        height: auto;
    }

    .about-row img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

@media (max-width: 1199.98px) {

    #myCarousel2,
    #myCarousel2 .carousel-item {
        height: 50vh;
    }

    .rest-prom-row>div:nth-child(3) {
        height: calc(50vh - 56px);
    }
}

